// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

$blue: #0096ff
$green: #00b200
$text: #666

// +font("HelveticaNeueCyr-Light", HelveticaNeueCyr-Light)
// =light
// 	font-family: "HelveticaNeueCyr-Light", Arial, sans-serif
// 	font-weight: normal

// +font("UC-Icons", UC-Icons)
// =uc
// 	font-family: "UC-Icons"
// 	font-weight: normal

// +font("HelveticaNeueCyr-UltraLight", HelveticaNeueCyr-UltraLight)
// =ultra
// 	font-family: "HelveticaNeueCyr-UltraLight", Arial
// 	font-weight: normal

+font("HelveticaNeueLTW1G-Lt", HelveticaNeueLTW1G-Lt)
=LTWlight
	font-family: "HelveticaNeueLTW1G-Lt", Arial
	font-weight: normal

+font("HelveticaNeueLTW1G-UltLt", HelveticaNeueLTW1G-UltLt)
=LTWultra
	font-family: "HelveticaNeueLTW1G-UltLt", Arial
	font-weight: normal

+font("Entypo", Entypo)
=entypo
	font-family: "Entypo"
	font-weight: normal
	font-style: normal


html
	font-size: 62.5%

body
	+LTWlight
	font-size: 16px
	line-height: 1.2
	background: #FFF

a
	color: $blue
	text-decoration: none
	&:hover
		text-decoration: none

// +r(767)
// 	.row:last-of-type
// 		.col-md-1:not(:last-child),
// 		.col-md-2:not(:last-child),
// 		.col-md-3:not(:last-child),
// 		.col-md-4:not(:last-child),
// 		.col-md-5:not(:last-child),
// 		.col-md-6:not(:last-child),
// 		.col-md-7:not(:last-child),
// 		.col-md-8:not(:last-child),
// 		.col-md-9:not(:last-child),
// 		.col-md-10:not(:last-child),
// 		.col-md-11:not(:last-child),
// 		.col-md-12:not(:last-child)
// 			margin-bottom: 35px

.col-margin-bottom
	+r(991)
		margin-bottom: 35px

.header
	font-size: 0
	text-align: right
	padding: 21px 0 18px
	+box
	+clr
	+r(991)
		padding: 26px 0
	.container
		position: relative

.logo
	display: block
	float: left
	// margin-right: 35px
	font-size: 0
	text-decoration: none
	color: #000
	text-decoration: none
	text-align: left
	+fs(23)
	+r(991)
		float: none
		+fs(17)
	&:hover
		color: #000
		text-decoration: none
	&:before
		content: ""
		+svg(logo, 48, 48)
		vertical-align: middle
		+r(991)
			width: 36px
			height: 36px
	span
		vertical-align: middle
		margin-left: 15px
	&.logo_footer
		float: none
		color: $text
		margin-right: 0
		+fs(24)
		+r(1200)
			+fs(20)

.menu-btn
	+svg(menu, 36, 36)
	vertical-align: middle
	cursor: pointer
	display: none
	position: absolute
	top: 0
	right: 15px
	+transition(all 0.2s linear)
	&.is-active
		+svg(menu-active, 36, 36)
	+r(991)
		display: inline-block


.nav
	display: inline-block
	vertical-align: middle
	line-height: 48px
	color: $blue
	text-align: left
	+r(991)
		display: none
		width: 100%
		padding: 15px
		margin-top: 26px
		position: absolute
		left: 0
		top: 100%
		z-index: 10
		background: #fff
		line-height: 2.5
	+rmin(992)
		display: inline-block !important

.nav__list
	display: inline-block
	vertical-align: middle
	li
		display: inline-block
		vertical-align: top
		margin-right: 40px
		position: relative
		+fs(18)
		+r(1200)
			margin-right: 15px
	+r(991)
		display: block
		li
			display: block
			margin-right: 0

.nav__sub
	position: absolute
	z-index: 10
	top: 100%
	left: 0
	background: #FFF
	padding: 0 20px
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5)
	li
		display: block
		margin-right: 0
	+r(991)
		position: static
		background: #D8D8D8
		margin: 0 -15px
		padding: 0 30px
		box-shadow: none

.lang
	display: inline-block
	vertical-align: middle
	margin-right: 40px
	+fs(18)
	text-transform: uppercase
	// color: #666
	+r(1200)
		margin-right: 15px
	a
		color: #666
		&.is-active
			color: $blue
	+r(991)
		display: block
		margin-right: 0
	&:before
		content: ""
		display: inline-block
		margin-right: 10px
		position: relative
		top: 2px
	&.lang_ru
		&:before
			+svg(lang-ru, 26, 18)
	&.lang_en
		&:before
			+svg(lang-en, 26, 18)
	&.lang_pl
		&:before
			+svg(lang-pl, 26, 18)
	i
		+fs(27)
		+entypo


.button
	display: inline-block
	+fs(18)
	background: $green
	color: #fff
	text-align: center
	line-height: 34px
	padding: 0 30px
	// margin-top: 45px
	border-bottom: 2px solid #009900
	+box
	&:hover
		background: #008900
		border-color: #005c00
		color: #fff
		text-decoration: none
	&.button_header
		min-width: 167px
		position: relative
		top: 2px
		margin-top: 0
		+r(1200)
			min-width: 50px
			padding: 0 15px
		+r(991)
			display: block
			position: static
			width: 100%
			margin: 20px 0 40px

.promo
	background: #5F747D url('../img/promo.jpg') 100% 0 no-repeat
	min-height: 460px
	position: relative
	overflow: hidden
	+transition(0.2s linear)
	+r(767)
		background: #5F747D
		min-height: 1px

.promo__right
	position: absolute
	z-index: 1
	top: 0
	right: 70px
	opacity: 1
	+transition(0.2s linear)
	+r(991)
		right: 0
	+r(767)
		+transform(translateY(100%))
		opacity: 0
		visibility: 0

.promo__title
	position: relative
	z-index: 2
	padding: 125px 0 18px
	+fs(48)
	color: #FFF
	line-height: 1.22
	+r(991)
		+fs(40)
	+r(767)
		+fs(32)
		padding-top: 65px
	&.promo__title_sub
		+LTWultra
		padding-top: 0
		+fs(24)
		+r(991)
			+fs(20)
		+r(767)
			padding-bottom: 65px

.wrap
	padding: 65px 0
	&.wrap_gray
		background: #e8ebec
	&.wrap_lead
		background: #5F747D

.title
	+fs(42)
	&.title_margin
		margin-bottom: 35px
	+r(767)
		+fs(28)

.b-text
	// margin-top: 35px
	p
		+fs(18)
		color: $text
		+r(767)
			+fs(16)

.b-text__title
	display: block
	+fs(24)
	margin-bottom: 15px
	+r(767)
		+fs(21)

.how-it-works

.advantages
	padding-bottom: 0
	+r(767)
		padding-bottom: 30px
	.b-text
		margin-bottom: 70px
		+r(767)
			margin-bottom: 35px

.footer
	padding: 65px 0
	// border-top: 1px solid #C9CCCD
	.col-md-4
		line-height: 60px
		+r(991)
			line-height: inherit
			margin-bottom: 20px
			&:last-child
				margin-bottom: 0
	&.footer_gray
		background-color: #E8EBEC

.copy
	color: #656565
	+fs(22)
	+r(767)
		+fs(16)

.footer__email
	+fs(22)
	+r(1200)
		+fs(20)
	+r(767)
		+fs(16)

.footer__tel
	display: inline-block
	vertical-align: middle
	font-size: 0
	line-height: 1.4
	a
		color: $text
		text-decoration: none
		+fs(22)
		+r(1200)
			+fs(18)
		+r(767)
			+fs(16)
	li
		display: inline-block
		width: 50%
		+r(991)
			display: block
			width: 100%

//------------------------------------------------------------------------------
//
//    #devices page
//
//------------------------------------------------------------------------------

.devices
	margin-top: 60px

.devices__title
	+fs(42)
	margin-bottom: 35px

.devices__list
	+fs(20)
	margin-bottom: 80px
	li
		margin-bottom: 22px
	a.is-active, li.is-active a
		color: #000

.devices__item
	margin-bottom: 80px

.devices__item-pic
	margin: 0 auto
	max-width: 254px
	margin-bottom: 30px
	img
		max-width: 100%

.devices__item-title
	+fs(24)
	font-weight: normal

.devices__item-about
	+fs(18)
	line-height: 1.2
	margin: 15px 0
	font-weight: normal

.devices__item-price
	+fs(24)
	color: #000

//------------------------------------------------------------------------------
//
//    #product-card page
//
//------------------------------------------------------------------------------

.product

.product__title
	+LTWultra
	+fs(48)
	color: #FFF
	&.product__title_margin-top
		margin-top: 30px
		+r(991)
			margin-top: 0
	+r(767)
		+fs(32)
		margin-top: 0
	&.product__title_sub
		margin-top: 30px
		+fs(24)
		+r(767)
			+fs(20)

.product__price
	+LTWultra
	display: block
	+fs(36)
	color: #FFF
	font-weight: 100
	margin-top: 45px
	+r(767)
		+fs(28)

.product__pic
	margin-bottom: -36px
	+r(991)
		margin: 45px 0 -36px

.product__about
	p
		+fs(18)
		color: #656565
		margin: 30px 0
		&:last-child
			margin-bottom: 0
		+r(767)
			+fs(16)

.product__spec-table
	margin-right: 50px
	+r(1200)
		margin-right: 0
	.tr
		font-size: 0
	.td
		display: inline-block
		vertical-align: top
		width: 60%
		+fs(14)
		line-height: 1.215
		color: #656565
		padding: 16px 20px 16px 0
		+r(767)
			display: block
			width: auto
			+box
			&:last-child
				margin-left: 20px
				padding: 0 0 10px
		&:first-child
			width: 40%
			color: #000
			+r(767)
				padding: 10px 0 0
				width: auto
				margin-bottom: 5px
		&.separator
			width: 100%
			div
				height: 1px
				background: #999
			+r(767)
				margin: 0 0 10px

.download
	display: block
	margin: 25px 0 0
	+fs(18)
	line-height: 1.22
	+r(767)
		+fs(16)
	span
		display: inline-block
		vertical-align: middle
	.file
		display: inline-block
		vertical-align: middle
		margin-right: 20px
		+svg(file-doc, 30, 38)
		&.pdf
			+svg(file-pdf, 30, 38)
		&.zip
			+svg(file-zip, 30, 38)

.downloads
	.download
		margin-top: 0


































































































